@keyframes left-slider {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes right-slider {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes nav {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.9);
    }
}

@keyframes count {
    0% {
        border: 2px solid #d90368;
        background: transparent;
        color: #d90368;
    }

    100% {
        border: 2px solid #d90368;
        background: #d90368;
        color: white;
    }
}

@keyframes special {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-6px);
    }
}